@import "tailwindcss";

body {
  --font-inter: var(--inter);
  --font-oswald: var(--oswald);
  --font-antonio: var(--antonio);
  --font-geist: var(--geist);
  --font-geist-mono: var(--geist-mono);
  --color-blue: rgb(29, 155, 240);

  --font-body: var(--font-inter), var(--font-oswald), var(--font-antonio);
  background-color: var(--color-blue);
}

nextjs-portal {
  display: none;
}

/* .home {
  background-image: url(./../assets/images/placeholder.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Home */
.hero-img {
  animation: homeIntro 1s ease forwards;
}

@keyframes homeIntro {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(90%);
  }
}

.hero-img img {
  animation: introImg 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes introImg {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

/* HomeMenu */
.menu-item {
  transform: translate3d(0, 400%, 0);
  transition: 0.5s ease transform;
  animation: menu-item ease 0.5s forwards;
  animation-delay: 1s;
}

@keyframes menu-item {
  from {
    transform: translate3d(0, 400%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* Languages */
